<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render ZVR</title>
</head>
<body>
    <form action="/" method="POST">
        <p><input type="url" name="url"></p>
        <button>кнопка</button>
    </form>
    {% if text %}
    <div>
    	<div id="x_divtagdefaultwrapper" dir="ltr" style="font-size:12pt; color:#000000; font-family:Calibri,Arial,Helvetica,sans-serif">
        <pre>{{ text }}</pre>
    	</div>
    
    <pre style="margin-bottom:14pt;">--------------------------------------------------------
	</pre>

<div style="font-family:Calibri,Arial,Helvetica,sans-serif; color:rgb(33,33,33); font-size:15px; margin:0px"><font face="Times New Roman,serif" size="3"><span style="font-size:12pt"><font face="Courier New" color="#212121"><span style="background-color:rgb(247,247,247)"><b>Предоставляемый сервис</b></span></font><font face="Courier New" color="#212121">:&nbsp;Телефония / ПДПГИ</font></span></font></div>

<div>
<font face="Calibri,Arial,Helvetica,sans-serif" size="2" color="#212121">
<span style="font-size:15px;">
<div style="margin:0;">
<font face="Courier New" size="3" color="black">
<span style="font-size:12pt;">&nbsp;
</span>
</font>
</div>
<table width="1390" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:834pt;">
<tbody>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Услуги ПДПГИ
</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">да
</span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Адрес SIP Сервера РТУ для регистрации</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">192.168.xxx.xxx:506x</span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Имя</span>
</font>
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;" lang="en-US">&nbsp;VoIP Gateway&nbsp;</span>
</font>
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">на</span>
</font>
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;" lang="en-US">&nbsp;MSK-RTU</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">АБНТ: AMTL8900xx, </span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Тип доступа</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Доступ в сеть ПДГИ через общий номер доступа</span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Количество соединительных линий</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">1</span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Предоставление МГ и МН</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">да</span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Внутренний номер</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">8900xx</span>
</font>
</div>
</td>
</tr>
<tr>
<td style="padding:3.75pt;">
<div align="right" style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">Внешний номер</span>
</font>
</div>
</td>
<td style="padding:3.75pt;">
<div style="margin:0;">
<font face="Courier New" size="3" color="#212121">
<span style="font-size:12pt;">8(495)983-xx-xx</span>
</font>
</div>
</td>
</tr>
</tbody>
</table>
</span>
</font>
</div>
</pre>
</div>
	{% endif %}

</body>
</html>